/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import '../../bower_components/material-colors/dist/colors.scss';
@import '../../bower_components/bemify/sass/bemify.scss';

/*
    Loaders.css https://connoratherton.com/loaders
    Only import loader used by the app.
    Keep this in mind if you modify the angular directive loader-css
*/
@import '../../bower_components/loaders.css/src/animations/ball-clip-rotate';


//foundation 6 imports, we use only what we need
@import 'global';
@import 'settings/settings';
@import 'estadio/config';
@import 'util/mixins';
@import 'grid/grid';
@import 'components/visibility';
@import 'components/float';
@import 'components/button';
@import 'components/button-group';
@import 'components/menu';
@import 'forms/forms';
@import 'forms/error';
@import 'components/callout';
@import 'components/close-button';

@include foundation-grid;
@include foundation-visibility-classes;
@include foundation-button;
@include foundation-button-group;
@include foundation-menu;
@include foundation-float-classes;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  //src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  font-family: Helvetica, sans-serif;
}

html,
html *{
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
